<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
指定状态参数：
<input type="text" name="state"/>
上传图片：
<input type="file" accept=".jpg,.jpeg,.txt" name="up_image"/>
<input type="button" value="提交" onclick="UploadImage()"/><br>
</body>
<script>
    function UploadImage() {
        let dic = new FormData();
        dic.append('state', $('input[name="state"]').val());
        dic.append('up_image', $('input[name="up_image"]')[0].files[0]);

        $.ajax({
            url: '/',
            type: 'POST',
            data: dic,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            dataType: 'JSON',
            success: function (arg) {
               alert(arg.result);
            }
        })
    }
</script>
</html>